*.pyc
*.out
*.txt
test.py
test.ipynb

# Ignore all files in the output folder
data/*.csv

# Ignore all .pkl files in the data folder
data/*.pkl

# Ignore data backup
data-backup/

# Ignore in the uploads
uploads/*.csv

# Ignore all files in the output folder
output/*.csv