*.pyc
*.out
*.env
terminal.txt
test.py
test.ipynb

# Ignore all files in the output folder
data/*.csv

# Ignore all .pkl files in the data folder
data/*.pkl
data/*.parquet

# Ignore data backup
data_backup/

# Ignore in the uploads
uploads/*.csv

# Ignore all files in the output folder
output/*.csv
output/*.parquet